/* ============ FONTS START ============ */
/* latin */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
/* latin */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
/* latin */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* latin */
@font-face {
  font-family: "Homemade Apple";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/homemadeapple/v11/Qw3EZQFXECDrI2q789EKQZJob0x6XHg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* ============ FONTS END ============ */

/* ============ CSS RESET START ============ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ============ CSS RESET END ============ */

/* ============ COMMON STYLES START ============ */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --theme-color: hsl(33, 93%, 54%);
  --header-color: hsla(0, 0%, 100%, 0.8);
  --bg-color: hsl(0, 0%, 100%);
  --hero-bg-color: hsl(240, 4%, 95%);
  --disabled-bg-color: hsl(0, 0%, 98%);
  --dark-color: #000;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Gilroy", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 400;
  color: var(--dark-color);
  background: var(--bg-color);
}
.container-wide {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 12px;
}
.article {
  padding: 100px 0;
}
.content {
  text-align: center;
}
.btn {
  display: inline-flex;
  justify-content: center;
  min-width: 200px;
  padding: 15px;
  border: 1px solid;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.4s;
}
.btn-hero {
  color: var(--theme-color);
  border-color: var(--theme-color);
}
.btn-hero:hover,
.btn-hero:focus-within {
  background: var(--theme-color);
  color: var(--bg-color);
}
.btn-other {
  color: var(--dark-color);
  border-color: var(--dark-color);
}
.btn-other:hover,
.btn-other:focus-within {
  background: var(--dark-color);
  color: var(--bg-color);
}
.bold {
  font-weight: bold;
}
.section-title {
  font-size: 32px;
  line-height: 1.4;
}
a:hover,
a:focus-within {
  color: var(--theme-color);
}
/* ============ COMMON STYLES END ============ */
/* ======= HEADER START ======= */
.header {
  padding: 20px 0;
  position: sticky;
  top: 0;
  background: var(--header-color);
  transition: 0.2s;
  z-index: 1000;
}
.header:hover,
.header:focus-within {
  background: var(--bg-color);
}
.nav {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: "Homemade Apple", serif;
  margin-right: auto;
  padding: 10px;
  transition: 0.3s;
}
.logo-link:hover,
.logo-link:focus-within {
  color: var(--theme-color);
}
.menu {
  display: flex;
  transform: translateX(64px);
}
.menu > li:nth-child(n + 2) {
  margin-left: 10px;
}
.menu a {
  padding: 10px;
  transition: 0.3s;
}
.btn.burger-btn {
  min-width: auto;
  display: none;
}
.btn.burger-btn.close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.burger-menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.burger-menu::before {
  content: "";
}
/* ======= HEADER END ======= */
/* ======= HERO START ======= */
.hero {
  background: var(--hero-bg-color);
}
.hero-section {
  display: flex;
  justify-content: space-between;
}
.hero-section.reverse {
  flex-direction: row-reverse;
}
.hero-text {
  width: 50%;
  padding: 140px;
}
.hero-img {
  width: 50%;
  height: auto;
  background: #5d674f;
  object-fit: cover;
}
h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.25;
}
.text {
  font-size: 20px;
  line-height: 1.4;
  margin: 40px 0;
}
.about {
  font-size: 20px;
  line-height: 1.4;
  margin: 35px 0;
  text-align: justify;
}
/* ======= HERO END ======= */
/* ======= GIFTS START ======= */
.text2 {
  margin: 25px 0 65px 0;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  background: var(--disabled-bg-color);
  width: 270px;
  transition: 0.1s;
  display: flex;
  flex-direction: column;
}
.card:hover,
.card:focus-within {
  background: var(--bg-color);
  transform: scale(1.01);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.card-pic {
  width: 270px;
  height: 270px;
  background: #b18561;
}
.card-content {
  padding: 25px;
  text-align: left;
  min-height: 165px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.roboto {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.small {
  font-size: 14px;
}
.link {
  transition: 0.3s;
  margin-top: auto;
}
.link:hover,
.link:focus-within {
  color: var(--theme-color);
}
.arrow::after {
  content: "\276F";
  margin: 3px;
  font-size: 10px;
}
/* ======= GIFTS END ======= */
/* ======= CTA START ======= */
.cta {
  background: var(--theme-color);
}
.cta-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-right-side {
  display: flex;
  align-items: center;
}
.cta-right-side > a:first-of-type {
  margin-right: 15px;
}
/* ======= CTA END ======= */
/* ======= BLOGS START ======= */
.banner {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  background: var(--dark-color);
  color: var(--bg-color);
  margin-bottom: 40px;
}
.banner-pic {
  width: 400px;
  height: 370px;
  background: #4e442e;
}
.banner-right-side {
  padding: 60px 250px 60px 80px;
}
.banner-title {
  font-size: 48px;
  line-height: 1.2;
  margin: 30px 0 60px 0;
}
.interesting-card {
  width: 572px;
  padding: 50px;
  text-align: left;
  transition: 0.1s;
  min-height: 290px;
  display: flex;
  flex-direction: column;
}
.interesting-card:hover,
.interesting-card:focus-within {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.interesting-card__title {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.interesting-card > p {
  margin-bottom: 20px;
  line-height: 1.38;
}
/* ======= BLOGS END ======= */
/* ======= FOOTER START ======= */
.footer {
  background: var(--disabled-bg-color);
  padding: 100px 0 35px 0;
}
.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.footer-logo {
  margin: 0 120px;
}
.footer-menu > li:nth-child(3n + 2) {
  margin-left: 60px;
}
.footer-menu a {
  padding: 10px;
  transition: 0.3s;
}
.social-networks-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 70px 0;
}
.social-networks-wrap::before {
  content: "";
  display: inline-flex;
  width: 1000px;
  height: 1px;
  background: var(--dark-color);
  margin-bottom: 50px;
}
.social-networks {
  display: flex;
}
.social-networks > li:nth-child(n + 2) {
  margin-left: 25px;
}
.social-networks img {
  width: 40px;
  height: 40px;
}
.awesome {
  font-size: 40px;
  transition: 0.3s;
}
.awesome:hover {
  transform: scale(1.2);
}
.privacy {
  display: flex;
  justify-content: center;
}
.privacy > p {
  margin-right: 15px;
}
.privacy span {
  margin: 0 2px;
}
/* ======= FOOTER END ======= */
/* // XX-Large devices (larger desktops) */
/* // No media query since the xxl breakpoint has no upper bound on its width */

/* @media (max-width: 1599.98px) {  } */
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .container-wide {
    max-width: 100%;
    padding: 0 12px;
  }
  .hero-text {
    padding: 80px 40px;
  }
  .card {
    width: 24%;
  }
  .card-pic {
    width: 100%;
    height: auto;
  }
  .social-networks-wrap::before {
    width: 100%;
  }
  .banner-right-side {
    padding: 45px 125px 45px 60px;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .btn {
    padding: 10px;
    min-width: 150px;
    font-size: 16px;
  }
  .menu {
    transform: translateX(38px);
  }
  h1 {
    font-size: 38px;
  }
  .article {
    padding: 75px 0;
  }
  .card-content {
    padding: 15px;
  }
  .section-title {
    font-size: 26px;
  }
  .banner-pic {
    width: 270px;
    height: auto;
  }
  .banner-right-side {
    padding: 25px 125px 25px 45px;
  }
  .banner-title {
    font-size: 33px;
    margin: 20px 0 40px 0;
  }
  .footer {
    padding: 75px 0 25px 0;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .article {
    padding: 60px 0;
  }
  .logo-link {
    margin: 0 calc(50% - 68px) 0 auto;
  }
  .hero-section {
    flex-direction: column;
    align-items: center;
  }
  .hero-section.reverse {
    flex-direction: column;
  }
  .hero-img {
    width: 100%;
  }
  .hero-text {
    padding: 50px 0px;
    text-align: center;
  }
  .btn.burger-btn {
    display: inline-flex;
  }
  .burger-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
    flex-direction: column;
    padding: 50px;
    transition: 0.3s;
    transform: translateX(-100%);
  }
  .burger-menu.open {
    transform: translateX(0);
  }
  .menu {
    transform: translateX(0);
    flex-direction: column;
    align-items: center;
  }
  .burger-menu > .menu > li {
    margin: 0;
    margin-bottom: 10px;
  }
  .cards {
    flex-wrap: wrap;
  }
  .card {
    width: 49%;
  }
  .card:nth-child(n + 3) {
    margin-top: 10px;
  }
  .cta-content {
    justify-content: space-around;
  }
  .cta-right-side {
    flex-direction: column;
    align-items: center;
  }
  .cta-right-side > a:first-of-type {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .banner-pic {
    width: 230px;
  }
  .banner-right-side {
    padding: 25px 45px 25px 25px;
  }
  .banner-title {
    font-size: 28px;
    margin: 15px 0 30px 0;
  }
  .footer {
    padding-top: 60px;
  }
  .footer-menu {
    flex-direction: column;
    text-align: center;
  }
  .footer-logo {
    margin: 0;
  }
  .footer-menu > li:nth-child(3n + 2) {
    margin-left: 0;
  }
  .social-networks-wrap {
    margin: 30px 0 50px 0;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .article {
    padding: 30px 0;
  }
  .btn {
    padding: 10px;
    min-width: 110px;
    font-size: 12px;
  }
  .hero-text {
    width: 100%;
    padding: 30px 12px;
  }
  h1 {
    font-size: 24px;
  }
  .text {
    font-size: 16px;
    margin: 20px 0;
  }
  .section-title {
    font-size: 22px;
  }
  .about {
    font-size: 16px;
    margin: 20px 0;
  }
  .text2 {
    margin: 10px 0 45px 0;
  }
  .cards {
    align-items: center;
  }
  .card {
    width: 75%;
    margin: 0 auto;
  }
  .card:nth-child(n + 2) {
    margin-top: 10px;
  }
  .cta-content {
    flex-direction: column;
  }
  .cta-right-side > a:first-of-type {
    margin: 10px 0;
  }
  .banner {
    flex-direction: column;
  }
  .banner-pic {
    width: 100%;
  }
  .interesting-card {
    width: 100%;
    padding: 30px;
    min-height: 230px;
  }
  .interesting-card__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .interesting-card > p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer {
    padding: 30px 0 15px 0;
  }
  .social-networks-wrap {
    margin: 15px 0 30px 0;
  }
  .social-networks-wrap::before {
    margin-bottom: 30px;
  }
  .social-networks > li:nth-child(n + 2) {
    margin-left: 15px;
  }
  .awesome {
    font-size: 30px;
  }
}
/* XS-Small devices (iPhone5/5s, SE, equals to 320px) */
@media (max-width: 320px) {
}
